.carouselImages {
  width: 100%;
  height: 80vh;
  margin: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carouselImages {
    width: 100%;
    height: 50vh;
    margin: auto;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .carousel {
    width: 100%;
    margin: auto;
    height: 100%;
  }
  .carouselImages {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
